# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.cache

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea

# Miscellaneous files
*.bak
*.DS_Store

# Example files
example/filled.tif
